<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <script src="~/js/aes.js"></script>
    <script src="~/js/read.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Secret Message</title>
</head>
<body>
    <div class="MainContaner">
        <img id="lockimg" src="~/icons/lock.png" alt="">
        <img id="eyedrop" src="~/icons/eye.png" alt="">
        <img id="eyedrop2" lockimg"" src="~/icons/eye.png" alt="">
        @{
            SecretMessging.Models.message message = Model;

            if (message.IsEncrypted)
            {
                <div class="messagecontent" style="visibility:collapse">
                    <textarea name="name" rows="8" id="message" cols="80">@message.content</textarea>
                </div>
                <input placeholder="Encrypt Key" id="Key" />
                <button type="button" name="button" id="decypted" onclick="decrypt();">show</button>
            }
            else
            {
                <div class="messagecontent" style="visibility:visible">
                    <textarea name="name" rows="8" id="message" cols="80">@message.content</textarea>
                </div>
            }
      
        }


    </div>

    <p id="url"></p>

</body>
</html>

